{% extends "template.html" %}

{% block app_content %}
    {% set delete_message = "Warning deleting your will result in it's permenant removal. You have created
    will be removed. Any questions will remain, but you will be removed as the author. Are you sure 
    you want to proceed?" %}

    <table class="table">
        <tr>
            <td width="256px"><img src="{{ user.avatar(128) }}" ></td>
            <td>
                <h3>{{ user.name }}</h3>
                {% if user.school_name %}
                    <p>School: {{ user.school_name }}</p>
                {% endif %}
                <p>Last seen: {{ moment(user.last_seen).calendar() }}</p>
                {% if user == current_user %}
                    <a href="{{ url_for('main.edit_profile', username=current_user.username) }}">
                        <input class="btn btn-primary" type="submit" value="Edit Profile">
                    </a>
                    {{ render_modal(user.id, "Delete User",
                     delete_message, url_for('main.delete_user', id=current_user.id, method=DELETE )) }}
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#id{{user.id}}">
                        Delete
                    </button> 

                    
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}